body {
    min-height: 100%;
    display: flex;
    justify-content: center;
}

#main1 {
    height: 608px;
    width: 608px;
    border: 2px solid black;
    display: flex;
    flex-flow: row wrap;
}

#babyDiv1 {
    display: flex;
    flex-flow: column;
    height: 32px;
    width: 32px;
    border: 2px solid black;
    margin: auto;
}

.babyStyle {
    background-color: blue;
}